/* stylelint-disable-next-line block-no-empty */
:local {
  .content {
    //background-color: rgba(255, 255, 255, 0.05);
    font-size: 13px;
    color: #ddd;
    line-height: 1.5em;
  }
  h2 {
    border-bottom: 1px solid white;
    padding-bottom: 4px;
  }
  p.info {
    margin: 5px 0;
  }
}
