/* stylelint-disable-next-line block-no-empty */
:local {
}

.transport {
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  // background-color: rgba(255, 255, 255, 0.1);
  .time,
  .bpm {
    font-size: 30px;
    //align-self: end;
    //display: inline;
  }
}

.content {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
