/* stylelint-disable-next-line block-no-empty */
:local {
}

.playstop {
  height: 80px;
  margin-bottom: 20px;
  // background-color: rgba(255,255,255,0.1);
}

.content {
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
