/* stylelint-disable-next-line block-no-empty */
.wrap {
  width: 60px;
  // height: 40px;
}
input {
  border: 0;
  width: 60px;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
//:local {
//}
