/* stylelint-disable-next-line block-no-empty */

.wrap {
  //padding: 20px;

  .row {
    display: flex;
  }

  .rowItem {
    margin: 0 6px 6px 0;
    width: 105px;
    height: 105px;
    background-color: rgba(255, 255, 255, 0.1);
    //overflow: hidden;
    padding: 10px;
    border-radius: 4px;
  }

  .active {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .rowGroupItem {
    //width: 100px;
    margin-right: 0;
  }

  .columnGroupItem {
    margin-bottom: 0;
    //height: 150px;
  }
}
