/* stylelint-disable-next-line block-no-empty */

.row {
  margin-bottom: 5px;
}

.rowItem {
  margin-right: 5px;
  padding: 10px;
  width: 100px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  height: 100px;
  overflow: hidden;
}

.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.rowGroupItem {
  // width: 150px;
}

.columnGroupItem {
  // height: 150px;
}
