/* stylelint-disable-next-line block-no-empty */
:local {
  .wrap {
    //background-color: blue;
    width: $mainWidth;
    margin: $elementSpace auto 0 auto;

    .modeAndTransport {
      margin: 10px 0;
    }

    .columns {
      display: flex;
      justify-content: space-between;
    }

    .mainColumn {
      //background-color: red;
      width: $mainContentWidth;
    }
    .sideColumn {
      //background-color: green;
      width: $sideBarWidth;
    }
  }
}
