/* stylelint-disable-next-line block-no-empty */
:local {
}

.wrap {
  padding: 20px;
  width: 950px;
  margin: 0 auto;
  // background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: space-between;

  .matrix {
    width: 580px;
    // background-color: red;
  }
  .sidebar {
    // background-color: green;
    width: 310px;
  }
}
