/* stylelint-disable-next-line block-no-empty */
:local {
}

.wrap {
  //background-color: blue;
  width: $mainWidth;
  margin: $elementSpace auto 0 auto;
  display: flex;
  justify-content: space-between;

  .matrix {
    //background-color: red;
    width: $mainContentWidth;
  }
  .sidebar {
    //background-color: green;
    width: $sideBarWidth;
  }
}
