/* stylelint-disable-next-line block-no-empty */
:local {
}

.wrap {
  background-color: black;
  // padding: 10px;

  .content {
    width: $mainWidth;
    margin: 0 auto;
    padding: 20px 0;
    //background-color: red;
    h1 {
      // padding: 20px;
      font-weight: bold;
    }

    p {
      font-weight: normal;
      font-size: 12px;
      display: block;
      margin-top: 5px;

      a {
        color: inherit;
        text-decoration-color: #999;
      }
    }
  }
}
