// Fonts

// Z Index
$zLayout: default;

// Sizes
$mainWidth: 1000px;
$elementSpace: 20px;
$mainContentWidth: 650px; // set to match the resulting width from matrix items (+spacing) (the rowitems in matrix.scss)
$sideBarWidth: calc(#{$mainWidth} - #{$mainContentWidth} - #{$elementSpace});

// $mediaQueries
@import '../../../data/mediaQueries.json';

// Paths
$pathComponentImage: 'asset/image';
