// Fonts

// Z Index
$zLayout: default;

// Sizes
$mainWidth: 950px;
$elementSpace: 20px;
$mainContentWidth: 580px;
$sideBarWidth: calc(#{$mainWidth} - #{$mainContentWidth} - #{$elementSpace});

// $mediaQueries
@import '../../../data/mediaQueries.json';

// Paths
$pathComponentImage: 'asset/image';
