// Fonts

// Z Index
$zLayout: default;

// Sizes
$mainWidth: 1000px;
$elementSpace: 20px;
$mainContentWidth: 690px; // set to match the resulting with from matrix items (+spacing)
$sideBarWidth: calc(#{$mainWidth} - #{$mainContentWidth} - #{$elementSpace});

// $mediaQueries
@import '../../../data/mediaQueries.json';

// Paths
$pathComponentImage: 'asset/image';
